head
	title Kommunity

template(name="main")
	section.full-height.no-overflow
		//- +top
		+yield
		+nav


template(name="top")
	section
		p ---------------

template(name="voteScreen")
	
	section.center.bb(style="height:32vh; padding-top: 3vh;")
		//- +location
		p.medium.fg Vad tycker du om
		p.bold.fg.medium Chalmers, Jonhanneberg?
		+voteSection
		//- p.small.underline.fg.bold Rösta och se vad andra tycker!
	+inlineMap
	section(style="height:18vh;")
		+engagement

template(name="engagement")
	section.m
		p.fg.small Din engagemangsnivå
		.bar.b
			.meter(style="width:70%")
				.marker.fg.center
					span.nm xx
					br
					span.small ▼

template(name="inlineMap")
	section.bb.no-overflow(style="height:40vh;")
		img(src="/maps.png")

template(name="location")
	h2 Location
		with coordinates
			p= lat
			p= lng


template(name="voteSection")
	button.vote-button.vote-up.medium ▲
	button.vote-button.vote-down.medium ▼

template(name="nav")
	section.bt(style="background-color:rgba(0,0,0,0.05); position:fixed; bottom:0; width: 100%; height:8vh;")
		nav
			ul.inline-list.right.bottom-menu
				li.fg: a.small(href="/") Skicka feedback
				li.fg: a.small(href="/") Belöningar
				li.fg: a.small(href="/") Topplista

//- template(name="map")
	h1 Map
	a(href="/") Back

	.map-container(style="width:800px; height:500px;")
	//- img(src="http://maps.googleapis.com/maps/api/staticmap?center={{loc.lat}},{{loc.lng}}&zoom=15&size=600x300&maptype=terrain&markers=color:red%7C{{loc.lat}},{{loc.lng}}")
	//- img(src="style=feature:road.highway%7Celement:geometry%7Cvisibility:simplified%7Ccolor:0xc280e9&style=feature:transit.line%7Cvisibility:simplified%7Ccolor:0xbababa&style=feature:road.highway%7Celement:labels.text.stroke%7Cvisibility:on%7Ccolor:0xb06eba&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:on%7Ccolor:0xffffff")
