head
	title app
	script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2V8IFYwB-Syx2-lauWq8EgjNmS7b8fMY")


template(name="main")
	+yield


template(name="voteScreen")
	+location
	+voteSection


template(name="location")
	h2 Location
		with coordinates
			p= lat
			p= lng


template(name="voteSection")
	button.vote-button.vote-up Vote +1
	button.vote-button.vote-down Vote +1

//- template(name="map")
	h1 Map
	a(href="/") Back

	.map-container(style="width:800px; height:500px;")
	//- img(src="http://maps.googleapis.com/maps/api/staticmap?center={{loc.lat}},{{loc.lng}}&zoom=15&size=600x300&maptype=terrain&markers=color:red%7C{{loc.lat}},{{loc.lng}}")
	//- img(src="style=feature:road.highway%7Celement:geometry%7Cvisibility:simplified%7Ccolor:0xc280e9&style=feature:transit.line%7Cvisibility:simplified%7Ccolor:0xbababa&style=feature:road.highway%7Celement:labels.text.stroke%7Cvisibility:on%7Ccolor:0xb06eba&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:on%7Ccolor:0xffffff")
