fg = #516174
golden = 1.618


html, body
	margin 0
	padding 0

body
	background #FFFBF5
	font-family avenir
	
.full-height
	max-height 100vh

.fg
	color fg

.vote-button
	width 23vw
	// padding 20px 10px
	
	height (@width/golden)
	border .5vw solid rgba(fg,0.5)
	color white
	border-radius 2vw
	margin-left 5vw
	margin-right @margin-left
	&.vote-up
		background #A0CB56
		
	&.vote-down
		background #CA703B
.m
	margin 3vh
.b
	border .5vw solid rgba(fg,0.5)
	
.bb
	border-bottom .5vw solid rgba(fg,0.5)
.bt
	border-top .5vw solid rgba(fg,0.5)
	
.no-overflow
	overflow hidden
	
.bottom-menu
	li
		padding-left 3vw
		padding-right @padding-left
		margin-top 1vh
		a
			color fg
			text-decoration none

.bar
	position relative
	height 4vh
	background-color #92B062
	.meter
		position: relative
		height 100%
		background-color #9ECC4B
		.marker
			width 5vw
			position: absolute
			right: -2.5vw;
			top -5vh