html, body
	margin 0
	padding 0

body
	background #E3E3E3
	font-family avenir
	
.vote-button
	width 100%
	padding 40px
	border 1px solid black
	
	&.vote-up
		background #aaffaa
		
	&.vote-down
		background #ffaaaa