fontSans = avenir, helvetica, arial, sans
fontCursive = 'Pacifico', cursive
fontSkinny = 'Cardo', serif
// modal = #47B6AB
modal = #C25555
subtle = rgba(black, 0.2)
superSubtle = rgba(black, 0.05)
mainWidth = 900px
narrowWidth = 500px